.button {
    background-color: rgba(0,0,0,0);
    position: absolute;
}

.button-ArrowRight {
    right: 0;
    top: 20%;
    height: 60%;
    width: 120px;
}

.button-ArrowDown {
    bottom: 0;
    right: 20%;
    width: 60%;
    height: 120px;
}
.button-ArrowLeft {
    left: 0;
    bottom: 20%;
    height: 60%;
    width: 120px;
}
.button-ArrowUp {
    left: 20%;
    width: 60%;
    height: 120px;
}